
AndAgain/

\.vs/MCJsonExporter/v15/\.suo

\.vs/MCJsonExporter/v15/sqlite3/

Export/obj/Debug/netcoreapp1\.1/

MCJsonExporter/bin/Debug/netstandard1\.4/

MCJsonExporter/obj/Debug/netstandard1\.4/

MCJsonExporter/obj/

*.exe

MCJsonExporter/Exporter/bin/Debug/

MCJsonExporter/Exporter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92\.cs

MCJsonExporter/Exporter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1\.cs

MCJsonExporter/Exporter/obj/Debug/

MCJsonExporter/Backup/

MCJsonExporter/\.vs/
